@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
*{
    font-family: 'Roboto';
}

html{
    font-size:62.5%
}

body{    
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    margin:0px;     
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0px;  
}

header{
    background-color: #011827;
    color: white;
    height: 40%;
}

li{
    font-size: 1.5rem;
    margin-top: 1%;
}

.header-banner{
    display: flex;
    
}

.header-site{
    width: 8vh;
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 1vh;
    text-align: center;
}

@media screen and (min-width: 950px) {
    .header-site{
        display:flex;
        font-size: 3rem;
        width: 25ch;
        padding-left: 0;
        text-align:left;
        margin-bottom: 0; 
    }

    .header-banner{
        margin: 2px 10px;        
    }
    
}

.header-logo{
    margin-top: 5px;
    margin-left: 27px;
    width: 128px;
    height: 82px; 
}

.header-nav{
    width: 51px;
    top: 27px;
    right: 51px;
    position: absolute;   
}

.link-wrapper{
    float:left;
    width: 100%;
}

.header-links{   
    margin-bottom: 20px;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    font-weight: 700;
    display: none;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.hamburger{
    cursor: pointer;
}

@media screen and (min-width: 950px){
    .header-links{
        display: flex;        
    }
    .hamburger{
        display:none;
        cursor: pointer;
    }
}

.bar{
    display: block;
    width: 4em;
    height: .5em;
    margin: .5em 0;    
    background-color: white;
}
    
.hamburger.active .bar:nth-child(2){  /* Mellersta burgaren ska inte synas vid 'active'-mode*/
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){  /* Översta burgaren  */
    transform: translateY(8px) rotate(45deg);
    position: absolute;
    z-index: 3 !important;
}
.hamburger.active .bar:nth-child(3){  /* Understa burgaren  */
    transform: translateY(-2px) rotate(-45deg);
    position: absolute;
    z-index: 3 !important;
}

/* Menyn syns bara i mobilt läge*/
@media screen and (max-width: 950px){
    .header-links.active{
        position:absolute;
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;         
        background-color: #011827;        
        animation: fade-in 0.3s both;
        animation-delay: 0.2s;
        z-index: 2;
    }
}

.frost.active{
    animation: frost-anim 0.2s forwards;
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

@keyframes frost-anim{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in{
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

figure{
    margin: 0px;
    padding: 0px;
    
}

.hacker-main{
    width: 100%;
    max-height: 80vh;
    
}

.main{    
    display:flex;
    flex-direction: column;
}

.challenges{
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 37px;
    text-align: center;
}

.site-challenges{
    background-color: #8ACFE5;
    color: #011827;
    font-weight: 700;
    font-size: 2.4rem;
    max-width: 350px;    
    padding: 20px 50px;
    margin-bottom: 30px; 
    text-decoration: none;
    border-radius: 5px;
}

.online-challenges{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
    color: #36769D;
    margin-bottom: 67px;
}

@media screen and (min-width: 950px){
    .challenges{
        flex-direction: row-reverse;
        justify-content: center;
        gap: 20px;  
        position: relative;        
    }

    .online-challenges{ 
    background-color: #E3170A;
    color: white;
    font-weight: 700;
    font-size: 2.4rem;
    max-width: 350px;    
    padding: 20px 50px;
    margin-bottom: 30px; 
    text-decoration: none;
    border-radius: 5px;
    line-height: 29px;
    bottom: 80px;        
    position: relative;
    }

    .site-challenges{
        bottom: 80px;
        position: relative;
    }
}

.quotes{
    margin-bottom:50px;
}

@media screen and (min-width: 950px){
    .quotes{
        display: flex;
        margin: 100px;
        justify-content: space-around;
    }

    .quote:nth-child(2){
        display:flex !important;
    }

    .quote{
        display: flex;
    }    
}

.quote{
    display: flex;
}


/* Don't display the second quote */

.quote:nth-child(2){
    display: none;
}


.photo-img{    
    width: 73.34px;
    height: 72px;
    padding-left: 22px;
    padding-right: 22px;
    align-items: top;
    margin: 0px;
}

.quote-john-doe{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding:0px;
    margin: 0px;    
}

.person-quote{    
    margin:5px;
    font-size: 1.8rem;
}

h2{
    text-align: center;
    font-weight: 400;
    font-size: 2.4rem;
}

.pop-cards-container{
    display: flex;
    align-content: space-between;
    overflow: scroll;
    padding: 30px 15px;
}

@media screen and (min-width: 1200px){
    .pop-cards-container{
        overflow: auto;
        justify-content: center;
        align-items: center;
    }
}

.pop-card{
    min-width:350px;
    width: 363px;
    height: 450px;
    margin: 0 20px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(17, 17, 17, 0.5); /* horizonal vertical blur(size) */
}

.small-hacker img{    
    width: 100%;
    height: 50%;
}

.pop-card img{
    max-width: 100vw;
    height: auto;
}

.pop-card-title{
    font-size: 2.8rem;
    font-weight: 400;
    margin: 0.5rem 1.4rem; 
}

.pop-card-grade{
    margin-left: 1.693rem;
    
}

.pop-card-grade img{
    margin-right:0.8rem;
}

.participants{
    margin-left: 0.5rem;
    font-size: 1.5rem;   
}

.card-description{
    font-size: 1.9rem;
    margin-right: 2.5rem;
    margin-left: 1.6rem;
    margin-bottom: 0px;
}

.pop-card-book{
    float: right;
    margin-right: 1.5rem;
    margin-top: 1rem;   
}

.pop-card button{
    background-color:red;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    width: 20rem;
    height: 44px;
    border: none;
}

.site-challenges-lower{
    background-color: #8ACFE5;
    color: #011827;
    font-weight: 700;
    font-size: 2.4rem;
    max-width: 350px;    
    padding: 20px 50px;
    margin-bottom: 30px; 
    text-decoration: none;
    border-radius: 5px;
}

.online-challenges-lower{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
    color: #36769D;
    margin-bottom: 67px;
}

@media screen and (min-width:950px){
    .online-challenges-lower{ 
        background-color: #E3170A;
        color: white;
        font-weight: 700;
        font-size: 2.4rem;
        max-width: 350px;    
        padding: 20px 50px;
        margin-bottom: 30px; 
        text-decoration: none;
        border-radius: 5px;
        line-height: 29px;               
        position: relative;
        }
}

.story{
    display: flex;
    flex-direction: column;
    background-color: #011827;
    color: white;
    align-items: center;
    font-size: 1.6rem;
    text-align: center;
    padding: 4rem 2rem;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    height: 50vmax;
    justify-content: center;
    max-height: 550px;
    min-height: 450px;
}

@media screen and (min-width: 950px){
    .story{
        margin-top: 100px;
    }
}

.story a{
    font-size: 2.4rem;
    font-weight: 700;
    color: #8ACFE6;
    border: 2px solid #8ACFE6;    
    text-align: center;
    max-width: 300px;
    min-width: 130px;
    margin-bottom: 30px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 55px;
    margin: 10px;    
}

.play-with-friends{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 950px){
    .play-with-friends{
        flex-direction: row;
        margin-bottom: 0;
    }

    .play-with-friends > * {
        flex-basis: 100%;        
    }

    .play-with-friends img{
        display:block; 
        max-width: 100%;
        max-height: 100%;
    }
    .play-with-friends p{
        font-size: 2rem !important;
    }
    .play-book-on-site{
        font-size: 2rem;
        margin: 0px 0px !important;
        padding: 0px 0px;
        
    }

    .play-reverse{
        flex-direction: row-reverse;
    }
}

.play-with-friends img{
    width: 100%;  
}

.play-with-friends h2{
    font-size: 3.2rem;
    font-weight: 700;
   
}

.play-with-friends p{
    font-size: 2.4rem;
    padding: 0em 1em;
    font-weight: 400;
}

.play-book-on-site{
    background-color: #E3170A;
    color: white;
    border-radius: 0.3rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
    padding: 2rem 5.2rem;
    max-width: 250px;
    text-decoration: none;
    margin: 5rem 2rem 5rem;
    display: block;    
    text-align: center;
}

@media screen and (min-width: 950px){
    .play-book-on-site{
        font-size: 2rem;
        padding: 1.5rem 1rem;
        margin: 3rem 1rem 0rem;
        max-width: 200px;        
    }

    .play-text{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}    

.play-see-challenges{
    background-color: #E3170A;
    color: white;
    border-radius: 0.3rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
    padding: 2rem 5.2rem;
    max-width: 250px;
    text-decoration: none;
    margin: 5rem 2rem 9rem;
    display: block;    
    text-align: center;
}

footer {

    background-color: #011827;
    color: white;
    font-size: 18px;
    width: 100%;    
    text-decoration: none;
    padding: 25px 0;
    justify-items: center;
}

@media screen and (min-width: 950px){
    .footer-container{
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-evenly;
    }

    .footer-info{
        width: 40%;       
    }    
}

.footer-info{
    margin-left: 15px;    
}

footer a{
    display:block;
    text-decoration: none;
    color:white;
}

footer a:nth-child(4){
    padding-bottom: 1.8rem;
}

footer h3,h4,h5{
    font-size: 18px;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom:0.7rem;
}

.footer-site-map{
    margin-left:15px;
    padding-bottom:1.5rem;
}

.footer-follow{
    margin-left: 15px;   
}
